node_modules/
dist/
.env
.env.production
.env.testing
.env.production.*
.env.testing.*
.env.*
!.env.example
coverage/
global-bundle.pem
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

*.tfvars
!terraform.tfvars.example

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.lock.hcl