node_modules/
dist/
coverage/
.env
.env.*
!.env.example
*.log
global-bundle.pem

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!terraform.tfvars.example

# Terraform overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json